.show-favourites {
  color: rgb(199, 199, 199);
  min-height: 100%;
  padding: 60px 0px;
}

.show-favourites .body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
}

@media screen and (max-width: 600px)  {
  .show-favourites {
    margin: 0 15px;
  }
}