body{
  font-family: 'Fuzzy Bubbles', cursive;
  font-family: 'Raleway', sans-serif;
  background-color: silver;
  background-image: url("/pictures/actionvance-t7EL2iG3jMc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 130%;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  perspective: 1000px;
}

#root{
  height: 100%;
}

#content-body{
  min-height: calc(100% - 120px);
}